{% extends "template.twig" %}


{% block  content %}
    <section id="two">
        <div class="container">
            <h1 class="align-center" style="font-size: 80px">404 PAGE NOT FOUND</h1>
            <h1 class="icon fa-frown-o align-center" style="font-size: 300px;"></h1>
        </div>
    </section>
{% endblock %}