{% extends 'template.twig' %}

{% block content %}


    <section id="two">
        <div class="container">
            <h3 style="margin-bottom: 1.65em">Prof. Bitange Ndemo</h3>

            <img src="/images/bitange.png" alt="Prof. Bitange Ndemo" width="100%">
            <div>
                Prof. Bitange Ndemo is a former Permanent Secretary of Kenya’s Ministry of Information and
                Communication. After his tenure with the Government, Prof. Ndemo now teaches entrepreneurship, and
                research methods at the University of Nairobi’s Business School. Most of his research centers on the
                link between ICTs and small and medium enterprises in Kenya with an emphasis on how ICTs influence
                economic development in Kenya. Prof. Ndemo is credited with facilitating many transformative ICT
                projects including East Africa’s first undersea cable, TEAMS, Open Data initiatives Mpesa. He still
                plays a key role in building sustainable models of innovation hubs in Kenya. He an advisor to I-Hub, the
                premier innovation hub in Africa, UNCDF’s Better than cash alliance, and UN’s Global Pulse and he is
                past Chairman of the Alliance for Affordable Internet. He also sits in the Board of Research ICT Africa
                that is based in South Africa. Prof. Ndemo holds a PhD in Industrial Economics from the University of
                Sheffield in the UK and bachelor’s degree in Finance and Accounting from the University of Minnesota. He
                is a Big Data enthusiast and founder member of the World Data Lab.

            </div>
            <br>
            <h4>Keynote: Leveraging Big Data to Achieve Sustainable Development Goals.</h4>
            <div>This talk will focus on leveraging Big Data to achieve the Sustainable Development Goals (SDGs) adopted
                in September 2015. These global agenda has been prioritized by development institutions and other
                Non-Governmental Organizations (NGOs) hoping to grasp the question of how to measure the progress of
                these goals. The 17 goals with 169 indicators include not only existing millennium development goals
                (MDGs) such as no poverty, zero hunger, good health, but also broader goals pertaining to water, the
                environment, industrialization, urbanization, etc. These goals cover a broad range of sustainable
                development issues, and it is hoped that governments will use these goals to fight against extreme
                poverty and address the challenges of ensuring environmentally, socially, and economically sustainable
                development in their respective communities (Choi et al, 2015). Crucial to the success of the SDGs will
                be strong government systems and, in particular, strong statistical systems that can measure and
                incentivize progress across the goals (SDSN 2016). Increased data analytics by non-state organizations
                lie the IBM, offers great promise for countries that have been slow to embrace the data revolution.
                Unfortunately, Africa faces the risk of remaining behind this revolution.

            </div>

        </div>
    </section>

{% endblock %}