{% extends "template.twig" %}


{% block  content %}


    <!-- Two -->
    <section id="two">
        <div class="container">
            <h3>Call for Papers</h3>
            <div>
                <p>
                    DEV 2016 provides an international forum for research in the design, implementation, and
                    evaluation of information and communication technologies (ICTs) for social and economic development.
                </p>
                <p>
                    In particular, we focus on contexts where conventional computing solutions are often inappropriate
                    due to
                    various contextual factors ­ including, but not limited to: cost, language, literacy, and the
                    availability of power and bandwidth.
                </p>

                <p>
                    The topic of ICT for development is inherently multidisciplinary, and encompasses
                    a broad array of research domains. The ACM DEV conference is an opportunity for researchers across
                    these diverse domains to come together to work on the common problem of improving access to and
                    availability of information and communication technology solutions. The focus of the conference
                    is research at the intersection of computer science and development related to (but not limited
                    to) the
                    following non­exclusive focus areas:
                </p>
                <ul>
                    <li>Systems</li>
                    <li>HCI and Applications</li>
                    <li>Data Science</li>
                </ul>
                <p>
                    We are committed to accepting papers of the very highest quality and will allow authors to specify
                    one or
                    two submission “tracks” that best fit their work. Each track has dedicated Program Committee (PC)
                    members with expertise in the specified area to enable appropriate review of papers. Papers will be
                    automatically referred to another track or reviewed by PC members from different tracks where
                    appropriate. Example topics within focus areas include the following:-
                </p>
                <h4><strong>Systems Track</strong></h4>
                <ul>
                    <li>Low-cost connectivity and computing devices</li>
                    <li>Network solutions for poorly connected regions, including white space spectrum</li>
                    <li>Power-efficient systems</li>
                    <li>Mobile systems and application</li>
                    <li>Special-purpose systems, e.g sensors, wireless, IVR</li>
                    <li>Systems challenges and opportunities in development e.g security, sustainability, resilience
                    </li>
                    <li>Cellular phone systems and applications</li>
                    <li>Novel tools and applications for development</li>
                    <li>Measurements of existing technology in developing regions (e.g network deployment)</li>
                </ul>
                <h4><strong>HCI Track</strong></h4>
                <ul>
                    <li>User interfaces for low-literacy population</li>
                    <li>Multilingual computing</li>
                    <li>Participatory methods and user-centered design</li>
                    <li>Accessiblilty for disabled populations in developing regions</li>
                    <li>user interfaces for low-cost devices</li>
                    <li>Design and evaluation of applications in health, microfinance, education, agriculture,
                        entertainment, social media etc.
                    </li>
                    <li>Adapting content and applications to local languages and education levels</li>
                    <li>Understanding social relationships and information flows in underserved communities</li>
                </ul>
                <h4><strong>Data Science Track</strong></h4>
                <ul>
                    <li>Computational sustainability</li>
                    <li>Computational social science</li>
                    <li>Econometric models and developmental economics</li>
                    <li>Data science for social good</li>
                    <li>Machine learning techniques for large-scale data analysis in a development context</li>
                    <li>Speech interfaces and translation for local languages</li>
                    <li>Computer vision challenges and opportunities in development</li>
                    <li>Understanding social networks and digital media in developing regions</li>
                </ul>

                <h4><strong>General Track</strong></h4>

                <p>
                    We also welcome papers outside of the above topics that address the DEV focus on computing
                    innovations supporting social and economic development.
                </p>

                <p>
                    Papers should describe original and unpublished research. Three metrics will be applied to judge
                    the
                    submissions: <br>
                    (a) relevance of the problem for development; <br>
                    (b) novelty of the ideas; and <br> (c)
                    evaluation of
                    the solution, making a case for development­focused impact. <br>All DEV paper submissions should
                    either
                    provide or directly motivate a novel technical solution that has direct implications for
                    development. Full
                    papers must not exceed 10 pages (including references, figures, and tables). All submissions
                    must be in
                    <span><a href="http://www.acm.org/publications/proceedings-template">ACM format</a> </span>,
                    submitted as a PDF and should be fully anonymized. In particular, the names or
                    affiliations
                    of authors should not be included so as to allow for blind review. All papers will undergo a
                    double­blind
                    review process with at least three reviews.
                </p>

                <p>
                    Papers should be submitted via the <span><a href="/submissions/">submission site</a>. As part of
                            the submission process, please indicate one or more tracks for which your submission is best
                            suited.
                            Please direct any questions to <span class="text-info"> <a
                                    href="mailto:acmdev2016@gmail.com">acmdev2016@gmail.com.</a></span></span>
                </p>
                <a class="special" href="/CallforPapers2016.pdf">Download PDF</a>

            </div>
        </div>
    </section>

    <!-- Three -->
{% endblock %}