{% extends "template.twig" %}


{% block  content %}
    <section id="two">
        <div class="container">
            <h3>Call for Posters</h3>
            <p>DEV 2016 provides an international forum for research in the design, implementation, and evaluation of
                information and communication technologies (ICTs) for social and economic development. In particular, we
                focus on contexts where conventional computing solutions are often inappropriate due to various
                contextual
                factors - including, but not limited to: cost, language, literacy, different social structures, and the
                availability of power and bandwidth.
            </p>
            <p>
                All DEV poster submissions should either provide or directly motivate a novel technical solution that
                has
                direct implications for development. Posters should describe original and previously unpublished
                research
                and innovative experiments. We also encourage poster submissions that describe work-in-progress, as a
                way to
                generate early feedback and discussion on projects. The poster deadline for DEV 2016 is <strong>September
                    7th at 11:59PM</strong>. Poster abstract submissions can be up to <strong>4 pages</strong> and all
                submissions must be in ACM format,
                submitted
                as a PDF via the <strong><a href="http://posters.acmdev.org/">submission site</a></strong>.
            </p>
            <p>
                The topic of ICT for development is inherently multidisciplinary, and encompasses a broad array of
                fields
                within the computer science discipline. We also welcome novel ICT contributions from development
                practitioners. As a guide for poster submissions, we provide a list of focus topics below, but we also
                welcome posters outside of the listed topics that address the DEV focus on computing innovations
                supporting
                social and economic development.
            </p>
            <h4>Systems</h4>
            <ul>
                <li> Low-cost connectivity and computing devices
                <li> Network solutions for poorly connected regions, including white space spectrum
                <li> Power-efficient systems
                <li> Mobile systems and applications
                <li> Special-purpose systems, e.g. sensors, wireless, IVR
                <li> Systems challenges and opportunities in development, e.g. security, sustainability, resilience
                <li> Cellular phone systems and applications
                <li> Novel tools and applications for development
                <li> Measurements of existing technology in developing regions (e.g. network deployments)
            </ul>
            <h4>HCI</h4>
            <ul>
                <li> User interfaces for low-literacy populations
                <li> Multi-lingual computing
                <li> User interfaces for low-cost devices
                <li> Participatory methods and user-centered design
                <li> Accessibility to disabled populations in developing regions
                <li> Design and evaluation of applications in health, microfinance, education, agriculture,
                    entertainment,
                    social
                    media, and other DEV-related areas
                <li> Adapting content and applications to local languages and education levels
                <li> Understanding social relationships and information flows in disadvantaged societies
            </ul>
            <h4>Data Science</h4>
            <ul>
                <li> Computational sustainability
                <li> Computational social science
                <li> Econometric models and developmental economics
                <li> Data science for social good
                <li> Machine learning techniques for large-scale data analysis in development contexts
                <li> Speech interfaces and translation for low-resource languages
                <li> Computer vision challenges and opportunities in development
                <li> Understanding social networks and digital media in developing regions
            </ul>
            <div>
                The accepted posters will be published in the companion conference proceedings. Here are the accepted
                poster
                lists from <a href="http://dev6.acmdev.org/program.php">DEV-6 (2015)</a> (at the bottom) and <a
                        href="http://dev5.acmdev.org/program/index.html#posters">DEV-5 (2014)</a>.
            </div>
            <p>
                Poster Submission Deadline: <strong>September 7th, 2016, 11:59 PM UTC</strong>
            </p>
            <p>
                Poster Acceptance Notification: <strong>September 19th, 2016 </strong>
            </p>
            <div>Papers should be submitted via the <a href="http://posters.acmdev.org/">submission site</a>. Please
                direct any questions to
                <a href="mailto:acmdev16posters@gmail.com">acmdev16posters@gmail.com</a>.
            </div>
        </div>
    </section>
{% endblock %}