{% extends "template.twig" %}


{% block  content %}
    <section id="two">
        <div class="container">
            <div style="clear:both; ">
                <div class="col-70">
                    <header class="major">
                        <h3>About ACM DEV 2016.</h3>
                        <h4>Seventh ACM Symposium on Computing and Development. </h4>
                    </header>
                    <p>DEV 2016 provides an international forum for research in the design, implementation, and
                        evaluation of information and communication technologies (ICTs) for social and economic
                        development.
                    </p>
                    <p>In particular, we focus on contexts where conventional computing solutions are often
                        inappropriate due to various contextual factors &mdash;including, but not limited to: cost,
                        language,
                        literacy and the availability of power and bandwidth.
                    </p>
                    <p>The conference is inherently multidisciplinary and encompasses a broad array of fields within the
                        computer science discipline
                        The proceedings of the conference will be available from the <a href="//dl.acm.org/">ACM Digital
                            Library</a>
                    </p>
                    <img src="images/nairobi.jpg" style="width: 100%; padding-right: 20px" alt="Nairobi">
                    <p>ACM DEV 2016 will take place in Nairobi, Kenya between the 18<sup>th</sup> - 20<sup>th</sup>
                        November 2016.</p>
                    <p>For more details see <a href="/schedule">Conference Schedule</a></p>
                </div>
                <div class="col-25">
                    <div class="list-group">
                        <div class="list-group-item yetu ">
                            <p class="list-group-item-text">Important Dates</p>
                        </div>
                        <a href="/call-for-papers" class="list-group-item">
                            <div class="list-group-item-text"><span>
Papers Submission Deadline <strong>June 24 2016 - 11.59pm UTC</strong>
</span></div>
                        </a>
                        <a href="/call-for-posters" class="list-group-item">
                            <div class="list-group-item-text"><span>
Poster Submission Deadline <strong>September 7th at 11:59PM  UTC</strong>
</span></div>
                        </a>
                        <a class="list-group-item">
                            <div class="list-group-item-text"><span>
Paper Acceptance Notification
<strong>August 24 2016</strong>
</span>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="list-group-item-text"><span>
Poster Acceptance Notification
<strong>September 19th, 2016</strong>
</span>
                            </div>
                        </a>

                        <a href="/schedule" class="list-group-item">
                            <div class="list-group-item-text"><span>
Main Technical Program  <strong> November 18 - 20 2016 </strong>
</span></div>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Two -->
    {#<section id="two">
    <div class="container">
    <h3>Call for Papers</h3>
    <div >
    <p >
    DEV 2016 provides an international forum for research in the design, implementation, and
    evaluation of information and communication technologies (ICTs) for social and economic development.
    </p>
    <p style="font-size: 1.1em; line-height: 1.5">
    In particular,we focus on contexts where conventional computing solutions are often inappropriate due to
    various contextual factors ­ including, but not limited to: cost, language,literacy, and the availability of power and bandwidth.
    </p>

    <p style="font-size: 1.1em; line-height: 1.5">
    The topic of ICT for development is inherently multidisciplinary, and encompasses
    a broad array of research domains. The ACM DEV conference is an opportunity for researchers across
    these diverse domains to come together to work on the common problem of improving access to and
    availability of information and communication technology solutions. The focus of the conference
    is research at the intersection of computer science and development related to (but not limited to)the
    following non­exclusive focus areas:
    </p>
    <ul style="font-size: 1.1em; margin-left: 45px; margin-top: 16px; list-style-type: disc; line-height: 1.5">
    <li>Systems</li>
    <li>HCI and Applications</li>
    <li>Data Science</li>
    </ul>
    <p style="font-size: 1.1em; line-height: 1.5; margin-top: 16px">
    We are committed to accepting papers of the very highest quality and will allow authors to specify one or
    two submission “tracks” that best fit their work. Each track has dedicated Program Committee (PC)
    members with expertise in the specified area to enable appropriate review of papers. Papers will be
    automatically referred to another track or reviewed by PC members from different tracks where
    appropriate. Example topics within focus areas include the following:-
    </p>
    <h4 style="margin-top: 16px"><strong>Systems Track</strong></h4>
    <ul style="font-size: 1.1em; margin-left: 45px; margin-top: 16px; list-style-type: disc; line-height: 1.5">
    <li>Low-cost connectivity and computing devices</li>
    <li>Network solutions for poorly connected regions, including white space spectrum</li>
    <li>Power-efficient systems</li>
    <li>Mobile systems and application</li>
    <li>Special-purpose systems, e.g sensors, wireless, IVR</li>
    <li>Systems challenges and opportunities in development e.g security, sustainability, resilience</li>
    <li>Cellular phone systems and applications</li>
    <li>Novel tools and applications for development</li>
    <li>Measurements of existing technology in developing regions(e.g network deployment)</li>
    </ul>
    <h4 style="margin-top: 16px"><strong>HCI Track</strong></h4>
    <ul style="font-size: 1.1em; margin-left: 45px; margin-top: 16px; list-style-type: disc; line-height: 1.5">
    <li>User interfaces for low-literacy population</li>
    <li>Multilingual computing</li>
    <li>Participatory methods and user-centered design</li>
    <li>Accessiblilty for disabled populations in developing regions</li>
    <li>user interfaces for low-cost devices</li>
    <li>Design and evaluation of applicaitons in health, microfinance, education, agriculture, entertainment, social media etc</li>
    <li>Adapting content and applications to local languages and education levels</li>
    <li>Understanding social relationships and information flows in underserved communities</li>
    </ul>
    <h4 style="margin-top: 16px"><strong>Data Science Track</strong></h4>
    <ul style="font-size: 1.1em; margin-left: 45px; margin-top: 16px; list-style-type: disc; line-height: 1.5">
    <li>Computational sustainability</li>
    <li>Computational social science</li>
    <li>Econometric models and developmental economics</li>
    <li>Data science for social good</li>
    <li>Machine learning techniques for large-scale data analysis in development context</li>
    <li>Speech interfaces and translation for low-resource languages</li>
    <li>Computer vision challenges and opportunities in development</li>
    <li>Understanding social networks and digital media in developing regions</li>
    </ul>

    <h4 style="margin-top: 16px"><strong>General Track</strong></h4>

    <p style="font-size: 1.1em; line-height: 1.5; margin-top: 16px">
    We also welcome papers outside of the above topics that address the DEV focus on computing
    innovations supporting social and economic development.
    </p>

    <p style="font-size: 1.1em; line-height: 1.5; margin-top: 16px">
    Papers should describe original and unpublished research. Three metrics will be applied to judge
    the
    submissions: (a) relevance of the problem for development; (b) novelty of the ideas; and (c)
    evaluation of
    the solution, making a case for development­focused impact. All DEV paper submissions should
    either
    provide or directly motivate a novel technical solution that has direct implications for
    development. Full
    papers must not exceed 10 pages (including references, figures, and tables). All submissions
    must be in
    <span><a href="http://www.acm.org/publications/proceedings-template">ACM format</a> </span>, submitted as a PDF and should be fully anonymized. In particular, the names or
    affiliations
    of authors should not be included so as to allow for blind review. All papers will undergo a
    double­blind
    review process with at least three reviews.
    </p>

    <p style="font-size: 1.1em; line-height: 1.5; margin-top: 16px">
    Papers should be submitted via the <span><a href="#">submission site</a>. As part of
    the submission process, please indicate one or more tracks for which your submission is best
    suited.
    Please direct any questions to <span class="text-info"> <a href="mailto:acmdev2016@gmail.com">acmdev2016@gmail.com.</a></span></span>
    </p>
    <a class="special" href="CallforPapers2016.pdf" >Download PDF</a>

    </div>
    </div>
    </section>

    <!-- Three -->
    <section id="three">
    <div class="container">
    <h3>A Few Accomplishments</h3>
    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non.
    Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
    <div class="features">
    <article>
    <a href="#" class="image"><img src="images/pic01.jpg" alt=""/></a>
    <div class="inner">
    <h4>Possibly broke spacetime</h4>
    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus
    integer adipiscing ornare amet.</p>
    </div>
    </article>
    <article>
    <a href="#" class="image"><img src="images/pic02.jpg" alt=""/></a>
    <div class="inner">
    <h4>Terraformed a small moon</h4>
    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus
    integer adipiscing ornare amet.</p>
    </div>
    </article>
    <article>
    <a href="#" class="image"><img src="images/pic03.jpg" alt=""/></a>
    <div class="inner">
    <h4>Snapped dark matter in the wild</h4>
    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus
    integer adipiscing ornare amet.</p>
    </div>
    </article>
    </div>
    </div>
    </section>

    <!-- Four -->
    <section id="four">
    <div class="container">
    <h3>Contact Me</h3>
    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non.
    Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
    <form method="post" action="#">
    <div class="row uniform">
    <div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Name"/></div>
    <div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email"/>
    </div>
    </div>
    <div class="row uniform">
    <div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject"/></div>
    </div>
    <div class="row uniform">
    <div class="12u"><textarea name="message" id="message" placeholder="Message"
    rows="6"></textarea></div>
    </div>
    <div class="row uniform">
    <div class="12u">
    <ul class="actions">
    <li><input type="submit" class="special" value="Send Message"/></li>
    <li><input type="reset" value="Reset Form"/></li>
    </ul>
    </div>
    </div>
    </form>
    </div>
    </section>#}
{% endblock %}