{% extends "template.twig" %}

{% block content %}

    <section id="two">

        <div class="container">
            <h3 style="margin-bottom: 1.65em">Organizers</h3>

            <div class="list-group">
                <div class="list-group-item yetu ">
                    <p class="list-group-item-text">General Chairs</p>
                </div>
                <a href="http://researcher.watson.ibm.com/researcher/view.php?person=ke-k.weldemariam"
                   class="list-group-item">
                    <div class="list-group-item-text">
                        <span class="col-md-6">
                        Komminist Weldemariam
                        </span>
                        <span class="col-md-6 pull-right"> IBM Research Kenya</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Meenal Pore
               </span> <span class="col-md-6 pull-right"> IBM Research Kenya</span>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <div class="list-group-item yetu ">
                    <p class="list-group-item-text">Local Chair</p>
                </div>
                <a href="http://researcher.watson.ibm.com/researcher/view.php?person=ke-KALAFLEM"
                   class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">
                        Kala Fleming
               </span> <span class="col-md-6 pull-right"> IBM Research Kenya</span>
                    </div>
                </a>
                <a href="#"
                   class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">
                        Chao Mbogo
               </span> <span class="col-md-6 pull-right"> Kenya Methodist University</span>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <div class="list-group-item yetu ">
                    <p class="list-group-item-text">Paper Chairs</p>
                </div>
                <a href="http://www.nixdell.com" class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">
                        Nicola Dell
               </span> <span class="col-md-6 pull-right"> Cornell Tech</span>
                    </div>
                </a>
                <a href="http://www.bderenzi.com/home" class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Brian DeRenzi
               </span> <span class="col-md-6 pull-right">UCT</span>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <div class="list-group-item yetu">
                    <p class="list-group-item-text ">Posters Chair</p>
                </div>
                <a href=" http://researcher.watson.ibm.com/researcher/view.php?person=ke-TANEJA"
                   class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Jay Taneja
               </span> <span class="col-md-6 pull-right">IBM Research Kenya</span>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <div class="list-group-item yetu ">
                    <p class="list-group-item-text">Program Committee</p>
                </div>
                <a href="http://www.stdm.co" class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">James Faghmous
               </span> <span class="col-md-6 pull-right">Mount Sinai</span>
                    </div>
                </a>
                <a href="http://dan.bjorkegren.com" class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Dan Bjorkegren
               </span> <span class="col-md-6 pull-right">Brown</span>
                    </div>
                </a><a href="http://babel.ls.fi.upm.es/~susana/" class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Susana Muñoz Hernandez
               </span> <span class="col-md-6 pull-right">U. Politecnica de Madrid</span>
                    </div>
                </a><a href="http://babel.ls.fi.upm.es/~susana/" class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Vanessa Frias-Martinez
               </span> <span class="col-md-6 pull-right">University of Maryland</span>
                    </div>
                </a><a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Rumi Chunara
               </span> <span class="col-md-6 pull-right">NYU-Poly</span>
                    </div>
                </a><a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Rayid Ghani

               </span> <span class="col-md-6 pull-right">Univ of Chicago</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Roni Rosenfeld
               </span> <span class="col-md-6 pull-right">CMU</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Agha Ali Raza
               </span> <span class="col-md-6 pull-right">Information Technology University, Pakistan</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Veljko Pejovic
               </span> <span class="col-md-6 pull-right">University of Ljubljana</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Richard Anderson
               </span> <span class="col-md-6 pull-right">University of Washington</span>
                    </div>
                </a><a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Kentaro Toyama
               </span> <span class="col-md-6 pull-right">University of Michigan</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Ed Cutrell
               </span> <span class="col-md-6 pull-right">Microsoft Research India</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Michael Best
               </span>
                        <span class="col-md-6 pull-right">United Nations University Institute on Computing and Society</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Nithya Sambasivan
               </span> <span class="col-md-6 pull-right">Google</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Neha Kumar
               </span> <span class="col-md-6 pull-right">Georgia Tech</span>
                    </div>
                </a><a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Bill Thies

               </span> <span class="col-md-6 pull-right">MSR India</span>
                    </div>
                </a><a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Melissa Densmore
               </span> <span class="col-md-6 pull-right">UCT</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Indrani Medhi
               </span> <span class="col-md-6 pull-right">MSR</span>
                    </div>
                </a> <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Bill Tucker
               </span> <span class="col-md-6 pull-right">University of Western Cape</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Jay Chen
               </span> <span class="col-md-6 pull-right">NYU AD</span>
                    </div>
                </a><a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Carlos Rey-Moreno
               </span> <span class="col-md-6 pull-right">UWC</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Elizabeth Belding
               </span> <span class="col-md-6 pull-right">UCSB</span>
                    </div>
                </a><a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Ellen Zegura
               </span> <span class="col-md-6 pull-right">Georgia Tech</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Barath Rhagavan
               </span> <span class="col-md-6 pull-right">ICSI</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Aaditeshwar Seth
               </span> <span class="col-md-6 pull-right">IIT Delhi</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Bhaskaran Raman
               </span> <span class="col-md-6 pull-right">IIT-Bombay</span>
                    </div>
                </a> <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">David Johnson
               </span> <span class="col-md-6 pull-right">CSIR</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Kurtis Heimerl
               </span> <span class="col-md-6 pull-right">UW / Facebook</span>
                    </div>
                </a> <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Umar Saif
               </span> <span class="col-md-6 pull-right">Information Technology University Punjab</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Shaddi Hasan
               </span> <span class="col-md-6 pull-right">Berkeley / Facebook</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Lakshmi Subramanian
               </span> <span class="col-md-6 pull-right">NYU</span>
                    </div>
                </a>
                <a href="http://researcher.watson.ibm.com/researcher/view.php?person=ke-TANEJA" class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Jay Taneja
               </span> <span class="col-md-6 pull-right">IBM Research Africa</span>
                    </div>
                </a> <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Mahesh Marina
               </span> <span class="col-md-6 pull-right">University of Edinburgh</span>
                    </div>
                </a> <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Mariya Zheleva

               </span> <span class="col-md-6 pull-right">University at Albany, SUNY</span>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <div class="list-group-item yetu">
                    <p class="list-group-item-text ">Web Chairs</p>
                </div>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">Elizabeth Ondula
               </span> <span class="col-md-6 pull-right">IBM Research Kenya</span>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="list-group-item-text"><span class="col-md-6">David Kaguma
               </span> <span class="col-md-6 pull-right">IBM Research Kenya</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}