{% extends 'template.twig' %}

{% block content %}
    <section id="two">
        <div class="container">
            <h2>Registration for ACM DEV 2016</h2>

            <h4><strong>Early bird rates (before October 15th)</strong></h4>

            <p>Non-Student: $200 <br>
                Student (with ID): $100
            </p>

            <h4><strong> Late registration (after October 15th)</strong></h4>

            <p>Non-Student: $250 <br>
                Student (with ID): $150
            </p>

            <p>Local non-profit organization $50 </p>
            <p>Please register <a href="https://www.regonline.com/dev2016" style="color: #337ab7">here</a></p>
            <p><strong>If you cannot afford the registration fee</strong></p>
            <p>
                We will be able to offer a limited number of complimentary registrations to people who wish to attend
                ACM DEV 2016 but who cannot afford the registration fee. To apply, please send an email to <a href=""
                                                                                                              style="color: #337ab7">acmdev2016@gmail.com </a>
                with an explanation of your situation and why you are requesting free registration.
            </p>


        </div>
    </section>

{% endblock %}