{% extends 'template.twig' %}

{% block content %}

    <section id="two">
        <div class="container">
            <h2> Conference Schedule</h2>
            <h4> Download full proceedings here: <a href="http://bit.ly/DEV2016">http://bit.ly/DEV2016</a></h4>
            <h3>Friday, November 18th </h3>
            <table>
                <tbody>
                <tr>
                    <td width="118">
                        <p>8:00-9:00</p>
                    </td>
                    <td width="651">
                        <p>Registration</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>9:00-10:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Opening Remarks</strong></p>
                        <p>Keynote: Professor Bitange Ndemo</p>
                        <p>Leveraging Big Data to Achieve Sustainable Development Goals</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>10:30-11:00</p>
                    </td>
                    <td width="651">
                        <p>Coffee Break</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" width="118">
                        <p>11:00-12:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Paper Session 1: </strong><strong>Devices and Development </strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="651">
                        <p><strong><em>Sporshohin: A Tale of Devising Visible Light Based Low-Cost Robust Touchless
                                    Input
                                    Device</em></strong><br/>Tusher Chakraborty, Md. Nasim, Sakib Md. Bin Malek, Md
                            Taksir Hasan
                            Majumder Sami, Mohammed Samiul Saeef, A. B. M. Alim Al Islam</p>
                        <p><strong><em>Mobile Device Administration for Secure and Manageable Health Data Collection in
                                    Under-Resourced Areas</em></strong><em> </em><br/>Dominic Duggan, Justice Abinyui
                            Muh, Leonard Ndongo,
                            Jianhua Yao, Lian Yu</p>
                        <p><strong><em>Preventive Detection of Mosquito Populations using Embedded Machine Learning on
                                    Low Power
                                    IoT Platforms</em></strong><em> </em><br/>Prashant Ravi, Uma Syam, Nachiket Kapre
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>12:30-2:00</p>
                    </td>
                    <td width="651">
                        <p>Lunch (provided)</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>2:00-3:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Panel Discussion: Research, Practice, and Entrepreneurship in ICTD</strong></p>
                        <p>Panelists: Yaw Anokwa (Nafundi), Jane Katanu (Medic Mobile), Eric Mibuari (IBM Research
                            Kenya), Mustafa Naseem (UC Boulder/ITU)</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>3:30-4:00</p>
                    </td>
                    <td width="651">
                        <p>Coffee Break</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>4:00-5:30</p>
                    </td>
                    <td width="651">
                        <div><strong>Poster Session 1</strong></div>
                        <ul>
                            <li>Towards Cloudless Co-located Social Media on Android</li>
                            <li>Real-time Automated Surveys among Low-literate Masses using Voice-based
                                Telephone Services
                            </li>
                            <li>Ensuring Feedback Data Privacy in the Context of Developing Countries</li>
                            <li>What We Breathe As We Commute: From the Perspective of a Developing Country</li>
                            <li>Stochastic Simulator for Smart Microgrid Planning</li>
                            <li>ClickHealth, an App to Provide Info on Healthcare to the Homeless</li>
                            <li>Housing4All, Helping the Housing Process in Silicon Valley</li>
                            <li>Polygot: Going beyond database driven and syntax-based translation</li>
                            <li>Designing a Farmer Interface for Smart Irrigation in Developing Countries</li>
                            <li>Power Attack : An Emerging Threat in Health-care Applications Using Medical Body
                                Area Networks
                            </li>
                            <li>The role of the customers in the diffusion of alternative electricity supply
                                solution in Bangalore: A case study
                                of SELCO bridging its rural solution to urban actors
                            </li>
                            <li>Sentiment analysis of controversial topics on Pakistan&rsquo;s Twitter
                                user-base
                            </li>
                            <li>UW-Pesa: A Mobile Money User Experience Experimentation Platform</li>
                        </ul>

                    </td>
                </tr>
                </tbody>
            </table>
            <h3>Saturday, November 19th </h3>
            <table>
                <tbody>
                <tr>
                    <td width="118">
                        <p>8:00-9:00</p>
                    </td>
                    <td width="651">
                        <p>Registration</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" width="118">
                        <p>9:00-10:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Papers Session 2: </strong><strong>Security and Data </strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="651">
                        <p><strong><em>Let's Talk Money: Evaluating the Security Challenges of Mobile Money in the
                                    Developing
                                    World</em></strong><em> </em><br/>Sam Castle, Fahad Pervaiz, Galen Weld, Franzi
                            Roesner, Richard
                            Anderson</p>
                        <p><strong><em>Alphacodes: Usable, Secure Transactions with Untrusted Providers using Human
                                    Computable
                                    Puzzles</em></strong><em> </em><br/>Ashlesh Sharma, Varun Chandrasekaran, Fareeha
                            Amjad, Dennis
                            Shasha, Lakshminarayanan Subramanian</p>
                        <p><strong><em>Equitable development through deep learning: The case of sub-national population
                                    density
                                    estimation</em></strong><em> </em><br/>Patrick Doupe, Emilie Bruzelius, Samuel G.
                            Ruchman, James
                            Faghmous</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>&nbsp;</p>
                        <p>10:30-11:00</p>
                    </td>
                    <td width="651">
                        <p>Coffee Break</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>11:00-12:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Practitioner Talks </strong></p>
                        <p>Fred Muya, TALA: Building the Future of Finance <a href="https://tala.co/">(tala.co) </a>
                        </p>
                        <p>Primož Kovačič, Spatial Collective: Community Mapping <a
                                    href="http://spatialcollective.com/">(spatialcollective.com)</a></p>
                        <p> Matt Berg, Ona: Data Infrastructure to Drive Change <a href="https://ona.io/">(ona.io)</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>12:30-2:00</p>
                    </td>
                    <td width="651">
                        <p>Lunch (provided)</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>2:00-3:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Papers Session 3: </strong><strong>Health</strong><strong> </strong>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>&nbsp;</p>
                    </td>
                    <td width="661">
                        <p><strong><em>A
                                    Family
                                    Health App: Engaging Children to Manage Wellness of Adults </em></strong> <br/>Ntwa
                            A. Katule, Melissa
                            Densmore, Ulrike Rivett</p>
                        <p><strong><em>Design and Implementation of an Open Source &lsquo;Thin SIM&rsquo; System for
                                    Collecting
                                    Data &amp; Supporting Global Health Care</em></strong><em> </em><br/>Isaac Holeman,
                            Amanda Yembrick,
                            David Brown, Dianna Kane, Jane Katanu, Marc Abbyad, Ranju Sharma</p>
                        <p><strong><em>Iterative Design of an Immunization Information System in Pakistan </em></strong>
                        </p>
                        <p>Samia Razaq, Amna Batool, Umair Ali, Muhammad Salman Khalid, Umar Saif, Mustafa Naseem</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>3:30-4:00</p>
                    </td>
                    <td width="661">
                        <p>Coffee Break</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>4:00-5:30</p>
                    </td>
                    <td width="661">
                        <p><strong>Poster Session 2</strong></p>
                        <ul>
                            <li>A Cloud-based Dynamic Waste Management System for Smart Cities</li>
                            <li>Gamifying Knowledge Sharing in the Humanitarian Context</li>
                            <li>Faster Evacuation after Disaster: Finding Alternative Routes using Probable
                                Human
                                Behavior
                            </li>
                            <li>Towards Making An Anonymous and One-Stop Online Reporting System for Third-World
                                Countries
                            </li>
                            <li>Compressing SMS Messages for Lowering Communication Costs in Rural Africa</li>
                            <li>Digital Library Appropriation in the context of Sub-Saharan Countries: the Case
                                of
                                eGranary Digital Library
                                Implementation
                            </li>
                            <li>Crowd Powered Media Delivery: Facilitating Ubiquitous Device-to-Device File
                                Transfers
                            </li>
                            <li>Using Co-Design to Discern and Overcome Barriers to Employment in Cape Town</li>
                            <li>MDB: A Metadata Tracking Microcontroller Micro-Database</li>
                            <li>Design Methods to Reduce Technology Fear and Solicit Feedback from Lady Health
                                Workers
                                (LHWs) in Pakistan
                            </li>
                            <li>Prottasha: An Attempt to Help the Women Fighting Ovarian Cancer in Rural Areas
                                of
                                Bangladesh
                            </li>
                            <li>Designing the Ultimate Tech-Hub &ndash; ICT Ecosystem Acceleration</li>
                            <li>Global Software Development Projects as a Framework for Capacity Building in
                                Developing
                                Countries
                            </li>
                            <li>AWZone: Ad hoc WiFi Zonification in Post-Disaster Settings</li>
                        </ul>

                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>6:30-9:00</p>
                    </td>
                    <td width="661">
                        <p><strong>Conference Reception at Metta Nairobi, 14 Riverside Dr., Nairobi, Kenya (bus
                                transportation provided) </strong></p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>Sunday, November 20th </h3>
            <table>
                <tbody>
                <tr>
                    <td width="118">
                        <p>8:00-9:00</p>
                    </td>
                    <td width="651">
                        <p>Registration</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" width="118">
                        <p>9:00-10:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Papers Session 4: </strong><strong>Design for Development </strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="661">
                        <p><strong><em>Apps and Skits: Enabling New Forms of Village-To-Clinic Feedback for Rural Health
                                    Education</em></strong><em> </em><br/>Maletsabisa Molapo, Melissa Densmore, Limpho
                            Morie</p>
                        <p><strong><em>Claims-to-Patterns Approach to Leverage Mobile Interaction Design for Low-
                                    literacy
                                    Users</em></strong><em> </em><br/>Elefelious Getachew Belay, D. Scott McCrickard,
                            Solomon Atnafu
                            Besufekad</p>
                        <p><strong><em>A Case Study for Sensitising Egyptian Engineering Students to User- Experience in
                                    Technology Design</em></strong><em> </em><br/>Shaimaa Lazem</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>10:30-11:00</p>
                    </td>
                    <td width="651">
                        <p>Coffee Break</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" width="118">
                        <p>11:00-12:30</p>
                    </td>
                    <td width="651">
                        <p><strong>Papers Session 5: Measurement and Access </strong></p>

                    </td>
                </tr>
                <tr>
                    <td width="661">
                        <p><strong><em>EyePen: Ease of Reading for Less Privileged Visually-Impaired
                                    People </em></strong></p>
                        <p>Tusher Chakraborty, Taslim Arefin Khan, A. B. M. Alim Al Islam</p>
                        <p><strong><em>Bringing the Cloud to Rural and Remote Areas via Cloudlets </em></strong></p>
                        <p>Sven Helmer, Claus Pahl, Julian Sanin, Lorenzo Miori, Stefan Brocanelli, Filippo Cardano,
                            Daniele Gadler, Daniel Morandini, Alessandro Piccoli, Saifur Salam, Alam Mahabub Shahrear,
                            Angelo Ventura, Pekka Abrahamsson, Tosin Daniel Oyetoyan</p>
                        <p><strong><em>A First Look at Mobile Internet Use in Township Communities in South Africa </em></strong>
                        </p>
                        <p>Amreesh Phokeer, David Johnson, Melissa Densmore, Nick Feamster</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>12:30-2:00</p>
                    </td>
                    <td width="651">
                        <p>Lunch (provided)</p>
                    </td>
                </tr>
                <tr>
                    <td width="118">
                        <p>&nbsp;</p>
                        <p>2:00-3:30</p>
                    </td>
                    <td width="651">
                        <p>Town hall Meeting and Closing Remarks</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>

        </div>
    </section>
{% endblock %}